@import '../../../../variable.scss';

.product-page {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header {
    background-color: $bg-dark;
    padding: 1rem;
    text-align: center;

    h1 {
      color: $text-light;
      font-size: 2rem;
    }
  }

  .product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .image-section img {
      max-width: 500px;
      width: 100%;
      border-radius: 30px;
      object-fit: cover;
    }

    .details-section {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .description {
        background-color: $bg-dark;
        color: $text-light;
        padding: 1rem;
        border-radius: 12px;
      }

      .dropdown select {
        padding: 0.5rem;
        border-radius: 8px;
        font-weight: bold;
      }

      .quantity-container {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          background-color: $bg-dark;
          border: none;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          font-size: 1.2rem;
          color: $text-light;
          cursor: pointer;
        }

        span {
          font-weight: bold;
          color: $text-light;
        }
      }

      .price-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 15px;
        p {
          color: $text-light;
          font-size: 1.2rem;
          font-weight: bold;
        }

        .btn-add {
          background-color: $bg-dark;
          color: $text-light;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          font-weight: bold;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: $highlight;
            transform: translateY(-2px);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .product-content {
      flex-direction: column;
      align-items: center;
    }
  }
}
