@import '../../../variable.scss';


.navbar {
  background-color: $bg-dark;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;

  .brand {
    font-weight: bold;
    font-size: $font-size-medium;
    color: $text-light;
    text-decoration: none;
    text-shadow: -1px -1px 0 $text-dark, 1px -1px 0 $text-dark,
                 -1px 1px 0 $text-dark, 1px 1px 0 $text-dark;
    margin-left: 10px;
  }

  .toggle {
    display: none;
    font-size: 2rem;
    color: $text-light;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu {
    display: flex;
    gap: 1rem;
    margin-right: 15px;

    a,
    button {
      font-weight: bold;
      font-size: $font-size-medium;
      color: $text-light;
      background: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      transition: color 0.3s ease;

      &.active,
      &:hover {
        color: $highlight;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: flex-start;

    .toggle {
      display: block;
      margin-right: 10px;
    }

    .menu {
      flex-direction: column;
      width: 100%;
      display: none;

      &.open {
        display: flex;
        text-align: center;
      }
    }
  }
}
