.main-admin{
    text-align: center;
    color: #fff;
}
.btn-custom-product-admin{
    position: absolute;
    right: 0 !important;
    margin-top: 20px !important;
    margin-right: 20px !important;
}
.products-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product-item img{
    width: 200px;
    height: auto;
}
.product-item{
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-bottom: 20px;
    width: 750px;
    height: auto;
}
.product_credential{
    margin: 0;
    padding: 0;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
.btn-edit{
    align-items: flex-start;
    max-width: 5px;
}
.btn-delete{
    align-items: flex-end;
    max-width: 5px;
}
.edit-product-admin-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.edit-product-admin-form label{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-weight: bold;
}