.footer{
    margin-top: 20px;
    background-color: var(--bg-dark);
    color: white;
    padding: 10px 0;
    width: 100%;
}
.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.footer-content > div{
    flex: 1;
    margin: 5px;
    min-width: 150px;
}
.logo-info{
    margin: 0;
}
.logo-info img{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}
.logo-info p{
    color: var(--text-light);
    font-weight: bold;
}
.util-link ul{
    list-style: none;
    padding: 0;
    gap: 20px
}
.util-link ul li{
    margin-bottom: 20px;
}
.util-link ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.util-link ul li a:hover{
    color: var(--highlight);
}
.util-link p{
    font-weight: bold;
}
.contact-info p{
    font-weight: bold;
}
.contact-info p a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.contact-info p a:hover{
    color: var(--highlight);
}
.google-maps iframe{
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    height: auto;
    width: 100%;

}
.legal{
    font-weight: bold;
}
@media(max-width: 996px) {
    .google-maps iframe{
        top: 0;
        left: 0;
        width: 170px;
        height: 200px;
        margin-top: 0;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-content > div {
        width: 100%;
        margin-bottom: 20px;
    }
}