:root {
    --bg-dark: rgba(51, 51, 51, 0.7);
    --bg-light-dark: rgba(51,51,51,0.5);
    --bg-light: #fff;
    --text-light: #fff;
    --text-dark: #000;
    --highlight: #f43434;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --font-size-large: 32px;
    --font-size-medium: 22px;
    --font-size-small: 16px;
    --border-radius: 5px;
    --padding: 15px;
    --margin: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuLcfLAKZPGO-1WHX_H2PhXr9PXwzFSkX_tA&s');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--text-light);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: transparent;
}

.logo {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    border: none;
}

.info {
    border: 2px solid var(--text-dark);
    background-color: rgba(51, 51, 51, 0.65);
    border-radius: 8px;
    max-width: 400px;
    margin: var(--margin);
    text-align: center;
    padding: var(--padding);
}

.info p {
    color: var(--text-light);
    font-weight: bold;
    font-size: var(--font-size-large);
}
@media (min-width: 770px) and (max-width: 1000px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .logo img{
        width: 300px !important;
        height: 300px !important;
    }
}
@media (max-width: 768px) {
    .contact h1 {
        font-size: var(--font-size-medium);
    }

    .container{
        display: flex;
        flex-direction: column;
    }    

    .logo {
        width: 120px;
        height: 120px;
    }

    .info p {
        font-size: var(--font-size-small);
    }

    .info {
        width: 90%;
    }
}
@media (max-width: 480px) {
    .contact h1 {
        font-size: var(--font-size-small);
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 100px;
        height: 100px;
    }
    .logo img{
        margin-top: 20px !important;
    }

    .info p {
        font-size: var(--font-size-small);
    }

    .info {
        padding: calc(var(--padding) / 2);
        margin: var(--margin);
    }
}