$bg-dark: rgba(51, 51, 51, 0.7);
$bg-light: #fff;
$text-light: #fff;
$text-dark: #000;
$highlight: #f43434;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$font-size-large: 32px;
$font-size-medium: 22px;
$font-size-small: 16px;
$border-radius: 5px;
$padding: 15px;
$margin: 10px;
